.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

.checkboxContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  overflow: auto;
}

.chartContainer {
  min-height: 300px;
}

@media (min-width: 320px) {
  .checkboxContainer {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 640px) {
  .checkboxContainer {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .checkboxContainer {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .checkboxContainer {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
}
