.title {
  text-align: center;
  background-color: lightgray;
  padding: 1em;
}

.checkboxContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  overflow: auto;
  border: solid black 1px;
  padding: 10px;
}

.chartContainer {
  min-height: 300px;
  overflow: auto;
}

@media (min-width: 320px) {
  .checkboxContainer {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 470px) {
  .checkboxContainer {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 640px) {
  .checkboxContainer {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .checkboxContainer {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .checkboxContainer {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
}
